<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Daftar Pemain </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
  <!-- Penjaga Gawang -->
  <ion-item><ion-label>Joan García</ion-label></ion-item>
  <ion-item><ion-label>Marc-André ter Stegen</ion-label></ion-item>
  <ion-item><ion-label>Iñaki Peña</ion-label></ion-item>
  <ion-item><ion-label>Wojciech Szczesny</ion-label></ion-item>
  <ion-item><ion-label>Diego Kochen</ion-label></ion-item>

  <!-- Bek -->
  <ion-item><ion-label>Pau Cubarsí</ion-label></ion-item>
  <ion-item><ion-label>Alejandro Balde</ion-label></ion-item>
  <ion-item><ion-label>Ronald Araújo</ion-label></ion-item>
  <ion-item><ion-label>Íñigo Martínez</ion-label></ion-item>
  <ion-item><ion-label>Andreas Christensen</ion-label></ion-item>
  <ion-item><ion-label>Jules Koundé</ion-label></ion-item>
  <ion-item><ion-label>Eric García</ion-label></ion-item>
  <ion-item><ion-label>Gerard Martín</ion-label></ion-item>
  <ion-item><ion-label>Héctor Fort</ion-label></ion-item>
  <ion-item><ion-label>Jofre Torrents</ion-label></ion-item>

  <!-- Gelandang -->
  <ion-item><ion-label>Oriol Romeu</ion-label></ion-item>
  <ion-item><ion-label>Gavi</ion-label></ion-item>
  <ion-item><ion-label>Pedri</ion-label></ion-item>
  <ion-item><ion-label>Fermín López</ion-label></ion-item>
  <ion-item><ion-label>Marc Casadó</ion-label></ion-item>
  <ion-item><ion-label>Dani Olmo</ion-label></ion-item>
  <ion-item><ion-label>Frenkie de Jong</ion-label></ion-item>
  <ion-item><ion-label>Marc Bernal</ion-label></ion-item>
  <ion-item><ion-label>Pablo Torre</ion-label></ion-item>

  <!-- Penyerang -->
  <ion-item><ion-label>Ferran Torres</ion-label></ion-item>
  <ion-item><ion-label>Robert Lewandowski</ion-label></ion-item>
  <ion-item><ion-label>Lamine Yamal</ion-label></ion-item>
  <ion-item><ion-label>Raphinha</ion-label></ion-item>
  <ion-item><ion-label>Marcus Rashford</ion-label></ion-item>
  <ion-item><ion-label>Pau Víctor</ion-label></ion-item>
</ion-list>
</ion-content>
