<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ionic Components
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header>
  <ion-toolbar color="primary">
    <ion-title>Komponen Ionic</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-header>
  <ion-toolbar>
    <ion-title>Tab 3 - Komponen Ionic</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-content class="ion-padding">

  <!-- BADGES -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Badges</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Followers</ion-label>
          <ion-badge color="primary">22k</ion-badge>
        </ion-item>
        <ion-item>
          <ion-label>Likes</ion-label>
          <ion-badge color="secondary">118k</ion-badge>
        </ion-item>
        <ion-item>
          <ion-label>Stars</ion-label>
          <ion-badge color="tertiary">34k</ion-badge>
        </ion-item>
        <ion-item>
          <ion-label>Completed</ion-label>
          <ion-badge color="success">80</ion-badge>
        </ion-item>
        <ion-item>
          <ion-label>Warnings</ion-label>
          <ion-badge color="warning">70</ion-badge>
        </ion-item>
        <ion-item>
          <ion-label>Notifications</ion-label>
          <ion-badge color="danger">1000</ion-badge>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- BUTTONS -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Buttons</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button>Default</ion-button>
      <ion-button color="primary">Primary</ion-button>
      <ion-button color="secondary">Secondary</ion-button>
      <ion-button color="tertiary">Tertiary</ion-button>
      <ion-button color="success">Success</ion-button>
      <ion-button color="warning">Warning</ion-button>
      <ion-button color="danger">Danger</ion-button>
      <ion-button color="light">Light</ion-button>
      <ion-button color="medium">Medium</ion-button>
      <ion-button color="dark">Dark</ion-button>
    </ion-card-content>
  </ion-card>

  <!-- CHECKBOX -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Checkbox</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Default</ion-label>
          <ion-checkbox slot="end"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Checked</ion-label>
          <ion-checkbox slot="end" checked="true"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Disabled</ion-label>
          <ion-checkbox slot="end" disabled="true"></ion-checkbox>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- INPUT -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Inputs</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label position="floating">Text</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Number</ion-label>
          <ion-input type="number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Search</ion-label>
          <ion-input type="search"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Tel</ion-label>
          <ion-input type="tel"></ion-input>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- DATETIME -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>DateTime</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-datetime presentation="date-time"></ion-datetime>
    </ion-card-content>
  </ion-card>

   <!-- ACTION SHEET -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Action Sheet</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text color="secondary">
        <h2>Action Sheet Components</h2>
      </ion-text>
      <ion-button id="open-action-sheet">Open</ion-button>
      <ion-action-sheet
        trigger="open-action-sheet"
        header="Actions"
        [buttons]="actionSheetButtons">
      </ion-action-sheet>
    </ion-card-content>
  </ion-card>

</ion-content>

</ion-content>
